/*full page*/
.hero-image {
  position: sticky;
  text-align: center;
  color: white;
  padding-top: 150px;
  /*border: 2px solid grey;*/
  overflow:hidden;
}

.hero-image img {
  border: 3px solid grey;
}
.top-left {
  position:absolute;
  top:130px;
  left:16px;
  font-size: 60px;
}

.top-left h3{
  color: purple;
}

.header {
  border: 2px solid grey;
  padding-top: 30px;
}

/*main section*/
