/*full page*/
.hero-image {
  /*position: sticky;*/
  text-align: center;
  color: white;
  padding-top: 100px;
  /*border: 2px solid grey;*/
  overflow:hidden;
}

.hero-image img {
  border: 3px solid grey;
}
.top-left {
  position:absolute;
  padding-left: 50px;
  top:110px;
  left:16px;
  font-size: 60px;
}

.top-left h3{
  color: purple;
}

.header {
  border: 2px solid grey;
  padding: 0px;
}

span {
  color:white;
  font-weight: bold;
}

/*.details {
  display:grid;
  grid-template-rows: 1fr 1fr;
}*/

.details ul{
  list-style-type: none;
}

.details h2{
  text-decoration: underline;
}
