main {
  padding-top: 50px;
}

.tech {
  text-align: center;
  padding-bottom: 30px;
  text-align: center;
  color: white;
  overflow:hidden;
}

.overlay {
  position:absolute;
  padding-left: 50px;
  top:110px;
  left:16px;
  text-align: center;
}
.overlay p {
  font-size: 30px;
  padding-top: 120px;
}

.overlay strong {
  text-decoration: underline;
}

.tech h1 {
  font-size: 100px;
  padding-top: 0px;
}

section h2 {
  border-bottom: 2px solid
  purple;
  border-top: 2px solid purple;
}



.projects {
  display:grid;
  grid-template-rows: 1fr 1fr;
}

.ruby h3 {
  text-align: center;
}
.ruby > li{
  padding-left: 25px;
  padding-right: 15px;
  border-right: 3px dotted purple;
}


.ruby > li a {
  text-decoration: none;
  color: #000000;
  display: block;
  font-size: 1.17em;
  margin-top: 1em;    margin-bottom: 1em;    margin-left: 0;
  margin-right: 0;    font-weight: bold;
  align: center;
}

.ruby a:hover{
  color: grey;
}
.ruby {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-right: 50px;
  list-style-type: none;
  justify-content: space-between;
}

.web-design {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  list-style-type: none;
  justify-content: space-between;
  padding-right: 50px;
}

.web-design > li {
  padding-left: 25px;
  padding-right: 15px;
  border-right: 3px dotted purple;
  /*text-align: center;*/
}

.web-design li > a {
  text-decoration: none;
  color: #000000;
  display: block;
  font-size: 1.17em;
  margin-top: 1em;    margin-bottom: 1em;    margin-left: 0;
  margin-right: 0;    font-weight: bold;
  align: center;
}

.web-design a:hover{
  color: grey;
}
